In [4]:
print("Hi I'm interested to learn python!")

Hi I'm interested to learn python!

In [3]:
print("Harini K")

Harini K

# Data Types

# Data Type

# Data Type

In [11]:
X = 10.6
type(X)

float

In [12]:
y="dogbarks"
type(y)

str

In [14]:
y=True
type(y)

bool

In [15]:
T=6
type(T)

int

#### Variables

In [16]:
vegies = "carrot","ladysfinger" 
print(vegies)

('carrot', 'ladysfinger')

In [17]:
2ot_eqp ="diathermy","ot light","laproscopy" #no numeric in starting of variable,no special charecter except underscore
print(2ot_eq)

SyntaxError: invalid decimal literal (2156068847.py, line 1)

In [21]:
ot_eqp ="diathermy","ot light","laproscopy"
print(ot_eqp)

('diathermy', 'ot light', 'laproscopy')

In [22]:
name list = 'hari','ram','jai' #space is not allowed ,keywords as variable name is not allowed
name list

SyntaxError: invalid syntax (1553723964.py, line 1)

In [23]:
namelist = 'hari','ram','jai' #space is not allowed ####python is case-sensitive x,X is different!
namelist

('hari', 'ram', 'jai')

# Data structures

# LIST

In [26]:
sample_list=[7,9,0,8.8,9.5,"hello",90] #list is heterogeneous ,can contains duplicates
print(sample_list)
type(sample_list)

[7, 9, 0, 8.8, 9.5, 'hello', 90]

list

In [27]:
sample_list[-2] #list uses square[] brackets
                 #indexing starts from 0 forward and -1,-2 backwards

'hello'

In [29]:
sample_list[5]=10789
sample_list

[7, 9, 0, 8.8, 9.5, 10789, 90]

# ##Tuple

In [30]:
sample_tuple ='hi','ki',90,7.8
sample_tuple

('hi', 'ki', 90, 7.8)

In [31]:
sample_tuple =('hi','ki',90,7.8)
sample_tuple

('hi', 'ki', 90, 7.8)

In [32]:
type (sample_tuple)

tuple

In [34]:
sample_tuple[-4]

'hi'

In [36]:
sample_tuple[2] = 'poet' #tuples cannot make changes,(immutable), can contain duplicates
sample_tuple

TypeError: 'tuple' object does not support item assignment

# dictionary

In [40]:
dic_points = {'flower': "jasmine" , "quantity": "4kg", "amount": 800 }
dic_points

{'flower': 'jasmine', 'quantity': '4kg', 'amount': 800}

In [44]:
dic_points.keys()

dict_keys(['flower', 'quantity', 'amount'])

In [45]:
dic_points.values()

dict_values(['jasmine', '4kg', 800])

In [47]:
dic_points["flower"] = "rose" #dic is mutable (can make changes),heterogeneous,should use curly braces
dic_points

{'flower': 'rose', 'quantity': '4kg', 'amount': 800}

# set

In [58]:
set_sample = {-6,8,9.0,11,11,11,8.9,11,6.7,"mri","ctscan",3.6,2,5,7,8} #no duplicates will be allowed #immutable #sorted
set_sample

{-6, 11, 2, 3.6, 5, 6.7, 7, 8, 8.9, 9.0, 'ctscan', 'mri'}

In [60]:
set_sample[2] #no indexing will work

TypeError: 'set' object is not subscriptable

In [61]:
set_sample.add(9876)
set_sample

{-6, 11, 2, 3.6, 5, 6.7, 7, 8, 8.9, 9.0, 9876, 'ctscan', 'mri'}

In [62]:
set_sample.remove(8.9)
set_sample

{-6, 11, 2, 3.6, 5, 6.7, 7, 8, 9.0, 9876, 'ctscan', 'mri'}

In [ ]:
#set is mutable not with indexing but by adding and removing  keywords